<header class="sticky">
  <a href="#" class="application-logo">
    <img src="{{appLogoSrc}}" alt="application logo" id="application-logo"  class="app-logo"/>
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-link nav-home-products">
        <a href="index.html">Home</a>
        <a href="products.html">Products</a>
      </li>
      <li class="main-nav-link nav-end">
        <div class="nav-sign-register">
        <a href="signIn.html">SignIn</a>
        <a href="register.html">Register</a>
        </div>
        <div class="nav-cart-count">
          <img src="{{headerCartImage}}" alt="application cart" id="application-cart" />
          <div class="cart-item-count">
               0 items
          </div>
        </div>
      </li>
      </li>
    </ul>
  </nav>
</header>