.products {
  .products-container {
    display: flex;
    height: 100%;
    @media (max-width: 34em) {
      display: block;
    }

    .category-list-container {
      list-style-type: none;

      // clip-path: inset(-0px);
      flex: 1;
      background-color: $light-grey;
      @media (max-width: 34em) {
        background-color: $primary;
      }
      ul,
      li {
        list-style-type: none;
      }

      li {
        border-bottom: 0.2rem solid #d3ccccab;
        padding: 1.6rem;
        color: $grey;
        font-size: 2rem;
        padding-bottom: 1.2rem;
        @media (max-width: 34em) {
          color: $white;
        }
      }
    }

    .products-list-container {
      flex: 4;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 4rem 0 0 2rem;
      row-gap: 4rem;

      @media (max-width: 75em) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 34em) {
        grid-template-columns: repeat(1, 1fr);
      }

      .border-gradient {
        border-right: 0.2rem solid;
        border-image-slice: 1;
        border-width: 0.6rem;
        border-image-source: linear-gradient(
          to bottom,
          #ffffff,
          $light-grey,
          #ffffff
        );
        padding-right: 1rem;
        padding-left: 1rem;
      }

      li {
        border-bottom: 0.2rem solid $grey;
        border-right: 0.5rem solid $light-grey;

        .product-name {
          font-size: 1.8rem;
          font-weight: 500;
          height: 6rem;
          @media (max-width: 75em) {
            font-size: 2.2rem;
            font-weight: 600;
          }
          @media (max-width: 34em) {
            font-size: 2.2rem;
            height: unset;
            margin-bottom: 1rem;
          }
        }

        .product-img-des {
          @media (max-width: 75em) {
            display: flex;
          }
          @media (max-width: 34em) {
            height: 80%;
            display: flex;
            border-bottom-style: dashed;
            border-color: darkgrey;
            padding-bottom: 1rem;
          }
        }

        .product-image {
          margin-top: 4.8rem;
          display: flex;
          justify-content: center;
          img {
            width: 70%;
          }
          @media (max-width: 75em) {
            margin-top: 0;
            justify-content: unset;
            flex: 1.5;
            margin-right: 0.6rem;
            img {
              width: 100%;
            }
          }
          @media (max-width: 34em) {
            flex: 1;
          }
        }

        .product-description {
          padding: 0.8rem;
          margin-top: 2.4rem;
          background-color: $light-grey;
          font-size: 1.4rem;
          height: 8.4rem;

          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 1.3;
          cursor: pointer;

          @media (max-width: 75em) {
            font-size: 1.48rem;
            margin-top: 0;
            flex: 1;
            height: auto;
          }
          @media (max-width: 34em) {
            display: grid;
            background-color: unset;
            p {
              background-color: $light-grey;
              height: max-content;
              padding: 1rem;
            }
          }
        }

        .product-actions {
          @media (max-width: 75em) {
            margin-top: 1rem;
          }
          display: flex;
          margin-top: 2.4rem;
          padding-bottom: 1rem;
          justify-content: space-between;
          align-items: baseline;
          border-bottom-style: dashed;
          border-color: darkgrey;
          .product-price {
            font-size: 1.4rem;
            @media (max-width: 75em) {
              display: none;
            }
          }
          .product-buynow {
            font-size: 1.6rem;
            background: rgb(208, 1, 86);
            border: none;
            padding: 0.8rem;
            color: #ffffff;
            cursor: pointer;
            width: 10rem;
            .product-price-inner {
              display: none;
              @media (max-width: 75em) {
                display: inline;
              }
            }
            @media (max-width: 75em) {
              width: 100%;
            }
          }
        }

        .product-actions-non-mobile {
          @extend .product-actions;
          @media (max-width: 34em) {
            display: none;
          }
        }

        .product-actions-mobile {
          @media (max-width: 75em) {
            display: none;
          }
          @media (max-width: 34em) {
            display: block;
            border-bottom-style: unset;
          }
          @extend .product-actions;
        }
      }
    }
  }

  footer {
    @media (max-width: 75em) {
      display: flex;
      padding-left: 0;

      &::before {
        flex: 1;
        content: "";
      }
      .copyright {
        flex: 4;
        justify-content: unset;
      }
    }
  }
}
